body {
  background-color: #1FC8DB;
  background-image: linear-gradient(141deg, #9FB8AD 0%, #1FC8DB 51%, #2CB5E8 75%);
  color: #FFFFFF;
}
a:link, a:visited {
  color: inherit;
}
a:hover, a:focus {
  color: #2CB5E8;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  margin-top: .5rem;
  color: #666666;
}
input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
input[type="checkbox"]:checked + label::before {
  color: #FFFFFF;
  content: '\2713';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  background-color: #2CB5E8;
}
textarea {
  padding: .5rem;
  width: 100%;
  resize: none;
  min-height: 100px;
  border-radius: 10px;
}
#header-title {
  display: inline-block;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
.blink {
  display: inline-block;
  font-size: 2em;
  color: #F1F1F1;
  animation: blink .8s linear infinite;
  -moz-animation: blink .8s linear infinite;
  -o-animation: blink .8s linear infinite;
  -webkit-animation: blink .8s linear infinite;
}
.blink::after {
  content: '|';
}
#wrapper {
  max-width: 1400px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  -webkit-transition: max-width .35s linear;
  -moz-transition: max-width .35s linear;
  -o-transition: max-width .35s linear;
  -ms-transition: max-width .35s linear;
  transition: max-width .35s linear;
}
#wrapper.extended {
  max-width: 100%;
}
.btn {
  cursor: pointer;
  padding: .5rem .75rem;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: #FFFFFF;
  text-align: center;
}
.container {
  padding-top: 1px;
  max-width: 1140px;
  margin: 0 auto;
}
#blog > .container {
  position: relative;
}
.text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.main-header {
  padding: 10px 0;
  text-align: center;
}
.main-header::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-header div {
  display: inline-block;
  vertical-align: middle;
}
.main {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: .5rem;
  text-align: center;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, .3);
  margin-bottom: 3rem;
}
.profile-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  bottom: -100px;
  margin-bottom: 0px;
}
.separate-line {
  color: transparent;
}
.separate-line::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  background-color: #a89cc8;
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}
.about-images {
  position: relative;
  margin-bottom: 100px;
}
.content:not(.active) {
  display: none;
}
#post-category {
  float: left;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
}
#post-category::after {
  content: ' ⇣ ';
}
#category-list {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, .3);
  border-radius: .5rem;
  background-color: #FFFFFF;
  -webkit-transition: opacity .2s linear, z-index .1s linear;
  -moz-transition: opacity .2s linear, z-index .1s linear;
  -o-transition: opacity .2s linear, z-index .1s linear;
  -ms-transition: opacity .2s linear, z-index .1s linear;
  transition: opacity .2s linear, z-index .1s linear;
}
#category-list.active {
  opacity: 1;
  z-index: 1003;
}
#category-list.active > ul > li.active {
  color: #2CB5E8;
}
#category-list.active > ul > li:hover {
  cursor: pointer;
  color: #2CB5E8;
}
#category-list.active + #background {
  /* z-index: 1002; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: transparent;
}
#category-list:not(.active) + #background {
  display: none;
}
#category-list ul {
  margin: 0;
}
#category-list ul li {
  position: relative;
  font-size: 1.1rem;
  padding: 12px 10px;
}
#category-list ul li span {
  position: absolute;
  right: 0;
}
.post-list {
  padding-bottom: 1px;
  max-width: 900px;
  margin: 5rem auto 0;
}
.post-list li {
  margin-bottom: 2rem;
}
.post-list li:last-child {
  margin-bottom: 1rem;
}
.post-item {
  text-align: left;
}
.post-preview {
  color: #606060;
}
.post-preview:hover {
  color: #000000;
}
#load-more {
  cursor: pointer;
  padding: 1rem 0;
}
#load-more span::before {
  opacity: 0;
  content: '⇣ ';
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
  -ms-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}
#load-more:hover span::before {
  opacity: 1;
}
.project-list {
  margin-top: 3rem;
}
.project-item,
.project-image,
.thumbnail {
  display: inline-block;
}
.project-image {
  overflow: hidden;
}
.thumbnail {
  width: 100%;
  max-width: 550px;
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  -ms-transition: transform .2s;
  transition: transform .2s;
}
.thumbnail:hover {
  width: 100%;
  max-width: 550px;
  transform: scale(1.03);
}
.project-name {
  font-size: 1.5rem;
}
#guest-book {
  margin: 2rem;
}
.write-area {
  text-align: left;
  background-color: #F0F0F0;
  padding: 1.5rem 2rem;
  border-radius: 15px;
}
#comment-form textarea {
  border-color: #F3F3F3;
}
.input-group {
  margin-top: .3rem;
}
.comment-submit {
  float: right;
  color: #FFFFFF;
  border-color: #2CB5E8;
  border-radius: 18px;
  background-color: #2CB5E8;
}
.comment-submit:hover,
.comment-submit:focus {
  border-color: #2CB5D3;
  background-color: #2CB5D3;
}
.comment {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, .2);
}
.comment-list {
  text-align: left;
}
.guest-image {
  border-radius: 50%;
  float: left;
}
.guest-desc {
  margin-top: .5rem;
}
.guest-desc .guest-name,
.guest-desc .write-date {
  display: inline-block;
  max-width: 50%;
}
.guest-name {
  padding-right: 5px;
  font-weight: bold;
  max-width: 45%;
}
.write-date {
  font-size: 12px;
  color: #606060;
  max-width: 50%;
}
.header-hamburger {
  float: left;
}
.header-menu {
  float: right;
}
footer {
  margin-top: 3rem;
  min-height: 5rem;
}
.read-more:hover {
  color: #FFFFFF;
  background-color: #2CB5E8;
  border: 1px solid #2CB5E8;
}
/* 
    ##Device = Laptops, Desktops
    ##Screen = 1025px to ~
  */
@media (min-width: 1025px) {
  .content.active {
    padding: 1px 5rem 3rem;
  }
  .post-desc {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
  }
  .post-item > a {
    max-width: 30%;
    margin-right: 5%;
    display: inline-block;
  }
}
/*
    ##Device = Laptops, Desktops, Tablets, Ipads
    ##Screen = 768px to ~
  */
@media (min-width: 768px) {
  .main-header {
    height: 20vh;
    min-height: 450px;
  }
  #bottom-menu {
    display: none;
  }
  #content-nav {
    padding: .5rem;
    background-color: #F7F7F7;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  #content-nav div {
    margin: 0 .5rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  #content-nav div a {
    display: inline-block;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #636363;
  }
  #content-nav div a.active {
    background-color: #FFFFFF;
  }
  #category-list {
    width: 30%;
  }
  .post-preview {
    max-height: 55px;
    margin: .7rem 0;
    line-height: 26px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .project-item {
    width: 32%;
    padding: 2px;
  }
  .comment-contents {
    margin-left: 5rem;
  }
}
/* 
    ##Device = Tablets, Ipads
    ##Screen = 768px to 1025px
  */
@media (max-width: 1025px) and (min-width: 768px) {
  .content.active {
    padding: 1px 3rem 2.5rem;
  }
  .post-desc {
    display: inline-block;
    vertical-align: top;
    max-width: 63%;
  }
  .post-item > a {
    max-width: 35%;
    margin-right: 2%;
    display: inline-block;
  }
}
/* 
    ##Device = Most of the Smartphones Mobiles 
    ##Screen = B/w 320px to 479px
  */
@media (max-width: 767px) {
  .main {
    margin-bottom: 6rem;
  }
  .main-header {
    height: 15vh;
    min-height: 130px;
  }
  .content.active {
    padding: 1px .5rem 1rem;
  }
  #content-nav {
    display: none;
  }
  #category-list {
    width: 70%;
  }
  .post-item > a {
    max-width: 45%;
    margin-right: 2%;
    display: inline-block;
  }
  .post-desc {
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
  }
  .post-title {
    font-size: 1.5rem;
  }
  .post-desc span {
    font-size: 14px;
  }
  .post-preview {
    max-height: 40px;
    margin: .3rem 0;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
  }
  .comment-contents {
    margin-left: 3.5rem;
  }
  .read-more {
    display: none;
  }
  #bottom-menu {
    margin: 0 -10px;
    width: 100%;
    background-color: #FFFFFF;
    padding: .5rem;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 1001;
    text-align: center;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, .3);
  }
  #bottom-menu div {
    width: 24%;
    display: inline-block;
    vertical-align: middle;
  }
  #bottom-menu div a {
    display: inline-block;
    width: 100%;
    border-radius: .5rem;
    padding: 1.5rem 0;
    line-height: 1rem;
    font-size: .9rem;
    color: #636363;
  }
  #bottom-menu div a.active {
    background-color: #F0F0F0;
  }
}